".source.plsql.oracle":
  "New Function":
    prefix: "func"
    body: '''
      FUNCTION ${1:func_name}(
          po_result_code   OUT NUMBER)
      RETURN ${2:RETURN_TYPE}
      IS
        l_procname VARCHAR2(30) := '${1/_(.)/\\u$1/g}';
      BEGIN
        
        $0

        EXCEPTION
          WHEN OTHERS THEN
            raise;
      END $1;
    '''
  "New Procedure":
    prefix: "proc"
    body: '''
      PROCEDURE ${1:proc_name}(
          po_result_code   OUT NUMBER)
      IS
        l_procname VARCHAR2(30) := '${1/_(.)/\\u$1/g}';
      BEGIN

        $0

        EXCEPTION
          WHEN OTHERS THEN
            raise;
      END $1;
    '''
  "begin ... end":
    prefix: "begin"
    body: '''
      BEGIN
        $0

      EXCEPTION
        WHEN ${1:OTHERS} THEN
          raise;
      END;
    '''
  "elsif ...":
    prefix: "e"
    body: '''
      ELSIF ${1:condition}
      THEN
      	$0
    '''
  "if ... else ... end":
    prefix: "ife"
    body: '''
      IF ${1:condition}
      THEN
      	$2
      ELSE
      	$3
      END IF;
    '''
  "if ... end":
    prefix: "if"
    body: '''
      IF ${1:condition}
      THEN
      	$0
      END IF;
    '''
  "loop ... end":
    prefix: "loop"
    body: '''
      LOOP
      	$0
      END LOOP;
    '''
